@{
    ViewData["Title"] = "All users";
}
@model IEnumerable<UserViewModel>;
<div class="text-center">
    <h1 class="display-4">Users</h1>
    <table class="table">
        <tr>
            <td></td>
            <td></td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td align="left">
                    <img src="data:image/png;base64,@(Convert.ToBase64String(item.User.Avatar))" width="60" height="60" />
                    @item.User.FirstName @item.User.LastName
                </td>
                <td valign="middle">
                    @switch (item.RequestState)
                    {
                        case RequestState.Confirmed :
                            <p class="fw-normal">It's your friend:)</p>
                            break;
                        case RequestState.Sent :
                            <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-requestId="@item.RequestId" asp-route-actionName="AllUsers" asp-route-controllerName="Users" asp-controller="Requests">Cancel</a>
                            break;
                        case RequestState.Received:
                            <a class="btn btn-sm btn-success" asp-action="Confirm" asp-controller="Requests" asp-route-requestId="@item.RequestId" asp-route-actionName="AllUsers" asp-route-controllerName="Users">Accept</a>
                            <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-requestId="@item.RequestId" asp-controller="Requests" asp-route-actionName="AllUsers" asp-route-controllerName="Users">Cancel</a>
                            break;
                        default:
                            <a class="btn btn-sm btn-primary" asp-action="Create" asp-controller="Requests" asp-route-receiverId="@item.User.Id">Send friendship request</a>
                            break;
                    }
                </td>
            </tr>
        }
    </table>
</div>
