@using InnoGotchi.BLL.DTO;
@{
    ViewData["Title"] = "All pets";
}
@model IEnumerable<PetDTO>;
@if(Model == null)
{
    <div class="text-center">There are no pets in game yet</div>
}
else
{
    <div class="text-center">
        <table class="table">
            <tr>
                <th>Appearance</th>
                <th>Name</th>
                <th>Age</th>
                <th>Pet state</th>
                <th>Hungry state</th>
                <th>Thirsty state</th>
                <th>Happiness days</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="data:image/svg+xml;base64,@(item.Appearance)" width="100" height="100" />
                    </td>
                    <td>@item.Name</td>
                    <td>@item.Age</td>
                    <td>@item.State</td>
                    <td>@item.HungerLavel</td>
                    <td>@item.ThirstyLavel</td>
                    <td>@item.HappinessDaysCount</td>
                    <td>
                        <a class="btn btn-outline-dark" asp-action="PetView" asp-controller="Pets" asp-route-id="@item.Id">details</a>
                    </td>
                </tr>
            }
        </table>
    </div>
}

