@using InnoGotchi.BLL.DTO;
@model PetDTO;
<div class="text-center">
    <h1 class="display-4">Pet @Model.Id</h1>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Appearance</th>
            <th>FarmId</th>
        </tr>
        
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
            <td>@Model.Appearance</td>
            <td>@Model.FarmId</td>
        </tr>
        
    </table>
</div>
