@using InnoGotchi.BLL.DTO;
@model FarmDTO

@if (Model.Id == -1)
{
    <h1>You have no farm yet</h1>
    <form method="post" asp-controller="Farms" asp-action="CreateFarm">
        <div class="form-floating mb-3">
            <input id="name_input" name="name" type="text" class="form-control" placeholder="farm_name" required />
            <label for="name_input">Enter farm name</label>
        </div>

        <input class="btn btn-outline-dark" type="submit" value="Create farm" />
    </form>
}
else
{
    if (Model.Pets == null || Model.Pets.Count() == 0)
    {
        <h1>You have no pets yet</h1>
        <a class="btn btn-outline-dark" asp-action="PetConstructor" asp-controller="Pictures">Create new pet</a>
    }
    else
    {
        <div>
            <h1>Farm statistic</h1>
            <h6>Farm name: @Model.Name</h6>
            <h6>Pets count: @Model.Pets.Count</h6>
            <h6>Creation date: @Model.CreateTime.ToShortDateString()</h6>
            <h6>Creation time: @Model.CreateTime.ToShortTimeString()</h6>
            <h6>Alive pets count: @Model.GetAlivePetsCount</h6>
            <h6>Dead pets count: @Model.GetDeadPetsCount</h6>
            <h6>Average pet age: @Model.GetAveragePetsAge</h6>
            <h6>Average period between feedings: @Model.GetAverageFeedingPeriod</h6>
            <h6>Average period between drinkings: @Model.GetAverageDrinkingPeriod</h6>
            <h6>Average happiness days count: @Model.GetAverageHappinessDays</h6>
        </div>

        <h1 class="text-center">Pets list</h1>
        <div>
            <a class="btn btn-outline-dark" asp-action="PetConstructor" asp-controller="Pictures">Create new pet</a>
        </div>
        <div class="text-center">

            <table class="table">
                <tr>
                    <th>Appearance</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Pet state</th>
                    <th>Hungry state</th>
                    <th>Thirsty state</th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var item in Model.Pets)
                {
                    <tr>
                        <td>
                            <img src="data:image/svg+xml;base64,@(item.Appearance)" width="100" height="100" />
                        </td>
                        <td>@item.Name</td>
                        <td>@item.Age</td>
                        <td>@item.State</td>
                        @if (item.State == PetState.Dead)
                        {
                            <td>None</td>
                            <td>None</td>
                            <td></td>
                            <td></td>
                        }
                        else
                        {
                            <td>@item.HungerLavel</td>
                            <td>@item.ThirstyLavel</td>

                            @if (item.HungerLavel == HungerLavel.Full)
                            {
                                <td>
                                    <a class="btn btn-outline-success disabled">feed</a>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <a class="btn btn-outline-success" asp-action="Feed" asp-controller="Pets" asp-route-id="@item.Id">feed</a>
                                </td>
                            }


                            @if (item.ThirstyLavel == ThirstyLavel.Full)
                            {
                                <td>
                                    <a class="btn btn-outline-info disabled">drink</a>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <a class="btn btn-outline-info" asp-action="Drink" asp-controller="Pets" asp-route-id="@item.Id">drink</a>
                                </td>
                            }
                        }
                    </tr>
                }
            </table>
        </div>
    }
}
